@charset "UTF-8";

.game-board {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #34495e;
    color: #fff;
    border: 4px solid #2c3e50;
    border-radius: 8px;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box {
    border: 6px solid #2c3e50;
    border-radius: 2px;
    font-family: Arial;
    font-weight: bold;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.turn-message {
    font-family: Arial;
    font-weight: bold;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-message {
    font-family: Arial;
    font-weight: bold;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
